<?xml version = "1.0"?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">
    <!-- PROPERTIES -->
    <xacro:property name = "mu1" value = "1.0"/>
    <xacro:property name = "mu2" value = "0.3"/>
    <xacro:property name = "minDepth" value = "0.0001"/>
    <xacro:property name = "piValue" value = "3.14159265359"/>

    <!-- MACROS -->
    <xacro:macro name = "wheel_link" params = "position">
        <gazebo reference = "${prefix}_${position}_joint">
            <mu1 value = "${mu1}"/>
            <mu2 value = "${mu2}"/>
            <fdir1>1 0 0</fdir1>
            <minDepth value = "${minDepth}"/>
        </gazebo>
    </xacro:macro>

    <!-- LINK REFERENCES-->
    <xacro:wheel_link position="front_right"/>
    <xacro:wheel_link position="front_left"/>
    <xacro:wheel_link position="back_right"/>
    <xacro:wheel_link position="back_left"/>

    <!-- PLUGINS -->
    <!-- sensors plugin -->
    <gazebo>
        <plugin name = "ignition::gazebo::systems::Sensors" filename = "ignition-gazebo-sensors-system"/>
    </gazebo>

    <!-- lidar sensor -->
    <gazebo reference = "${prefix}_lidar_link">
        <sensor name = "laser" type = "gpu_lidar">
            <pose>0 0 0.0093 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>60</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>1600</samples>
                        <min_angle>${-piValue}</min_angle>
                        <max_angle>${piValue}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.13</min>
                    <max>12.0</max>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.005</stddev>
                </noise>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>${prefix}_lidar_link</gz_frame_id>
        </sensor>
    </gazebo>

    <!-- IMU plugin -->
    <gazebo>
        <plugin name = "ignition::gazebo::systems::Imu" filename = "ignition-gazebo-imu-system"/>
    </gazebo>

    <!-- IMU sensor -->
    <gazebo reference = "${prefix}_imu_link">
        <sensor name = "imu_sensor" type = "imu">
            <always_on>1</always_on>
            <update_rate>50</update_rate>
            <visualize>true</visualize>
            <topic>imu_data</topic>
        </sensor>
    </gazebo>
</robot>